@import url(//fonts.googleapis.com/css?family=Nunito);

/** GENERIC **/

* {
    font-family: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


html, body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

a {
    color: #016BF8;
    text-decoration: none;
}

a:hover {
    filter: brightness(85%);
}

code {
    background-color: #f4f4f4;
    color: #222222;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    font-size: 0.85rem;
    font-family: 'Fira Code', monospace;
}

/** LAYOUT **/

.small {
    font-size: 0.8rem;
}

.d-block {
    display: block;
}

.muted {
    color: #777 !important;
}

.title {
    font-size: 2rem;
    margin: 1rem 0 0.5rem 0;
}

.wrapper {
    padding-left: 40px;
    border-left: 1px solid #016BF8;
}

.branding {
    padding: 1rem;
    background-color: #fff;
    border-bottom: 1px solid #dedede;
    box-shadow: #AAA 0 0 10px;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.container {
    padding: 2rem;
}

.separator {
    margin: 1rem 0;
    border-top: 1px solid #dedede;
    max-width: 50%;
}

.dot {
    display: block;
    width: 17px;
    height: 17px;
    background-color: #016BF8;
    position: absolute;
    left: -54px;
    top: 8px;
    border-radius: 100%;
    border: 5px solid #b4d4ff;
}

.tooltip {
    position: relative;
}

.tooltip:before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    margin-left: 15px;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background: #000;
    color: #fff;
    text-align: center;
    display: none;
}

.tooltip:hover:before {
    display: block;
}

@media (max-width: 768px) {
    .container {
        padding: 1rem;
    }

    .branding h1 {
        font-size: 1.5rem;
    }
}

@media (min-width: 992px) {
    .container {
        padding: 2rem 10rem;
    }

    .branding {
        padding: 2rem 10rem;
    }

}

/** CHANGELOG **/

.summary {
    padding: 1rem 0 0 0;
}

.summary .content {
    padding-left: 1rem;
}

.summary > h3 {
    margin-top: 0;
    padding-top: 0;
    font-size: 1.5rem;
}

.summary > h3 .external-link {
    color: #1a3d67;
}

.summary > h3 .external-link::after {
    display: none;
}

.path {
    background: #defdff;
    color: #004695;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
}

.endpoint {
    color: #21313c;
    line-height: 24px;
    margin: 22px 0;
}

.endpoint-header {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.change-type {
    box-sizing: border-box;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    border-radius: 5px;
    height: 18px;
    padding-left: 6px;
    padding-right: 6px;
    text-transform: uppercase;
    border: 1px solid;
    letter-spacing: 1px;
    background-color: #E3FCF7;
    border-color: #C0FAE6;
    color: #00684A;
    margin-top: 2px;
}

.change {
}

.breaking {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    margin-right: 5px;
}

.breaking-icon {
    color: #DB3030;
}

.endpoint-changes {
}

/** EXTERNAL LINKS **/

.external-link::after {
    display: inline-block;
    content: '';
    background-size: 12px 12px;
    background-repeat: no-repeat;
    height: 12px;
    width: 12px;
    margin: 0 4px 0 4px;
    position: relative;
    top: 2px;
}

.external-link.jira::after {
    background-image: url('images/jira.svg');
}

.external-link.github::after {
    background-image: url('images/github.svg');
}